* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  color: rgb(87, 79, 79);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 30px;
}
h1,
h2,
h3 {
  padding-bottom: 20px 0;
}
p {
  margin: 10px 0;
}
.text-primary {
  color: rgb(42, 37, 150);
}
.p-small {
  font-size: 12px;
  color: gray;
  line-height: 1.5em;
}
.clr {
  clear: both;
}
.sec {
  padding: 30px 0;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 42, 101, 1) 27%,
    rgba(14, 14, 157, 1) 40%,
    rgba(18, 60, 164, 1) 50%,
    rgba(14, 91, 183, 1) 62%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
}

/* Section Prospectus */

#section-pros .pros-info {
  float: left;
  width: 50%;
  min-height: 100%;
}
#section-pros .pros-img {
  float: right;
  width: 50%;
  min-height: 100%;
}
#section-pros .pros-img img {
  display: block;
  margin: auto;
  width: 70%;
}
.l-heading {
  font-size: 40px;
  margin: 10px 0;
  line-height: 1.2em;
}
#section-pros .pros-info p {
  margin: 20px 0;
  line-height: 1.2em;
  padding-bottom: 30px;
}

/* section about */

#section-about .about-img {
  float: left;
  width: 50%;
  min-height: 100%;
}
#section-about .about-img img {
  display: block;
  margin: auto;
  width: 40%;
}
#section-about .about-info {
  float: right;
  width: 50%;
  min-height: 100%;
}
#section-about .about-info p {
  margin: 20px 0;
  line-height: 1.2em;
  padding-bottom: 30px;
}

/* Recipes */
#recipe {
  text-align: center;
}
.recipe {
  margin-top: 15px;
  float: left;
  /* border: 1px solid red; */
  box-shadow: 12px -7px 5px -3px rgba(239, 228, 228, 0.79);
  -webkit-box-shadow: 12px -7px 5px -3px rgba(239, 228, 228, 0.79);
  border-radius: 40px;
  padding: 13px;
  width: 31.1%;
  height: 100%;
  text-align: center;
  margin-right: 20px;
}
#recipe .recipe img {
  display: block;
  margin: auto;
  width: 80%;
}
/* social */
#social .container {
  margin-top: 50px;
  height: 130px;
  box-shadow: 12px -7px 5px -3px rgba(239, 228, 228, 0.79);
  -webkit-box-shadow: 12px -7px 5px -3px rgba(239, 228, 228, 0.79);
}
#social .recipe {
  box-shadow: none;
}

/* Footer */
#main-footer {
  padding: 15px 20px;
  text-align: center;
  background: #333;
  color: #ddd;
}
